<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86397101802-tfbti1tv038d4br1s53mt2a4l90oobgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86397101802-tfbti1tv038d4br1s53mt2a4l90oobgp</string>
	<key>API_KEY</key>
	<string>AIzaSyAOOSSOULmpOCNgoRcePvwwtBDMo0OrIOc</string>
	<key>GCM_SENDER_ID</key>
	<string>86397101802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Devsenior.Shop-App</string>
	<key>PROJECT_ID</key>
	<string>shop-app-c3e74</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-c3e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86397101802:ios:22bd7f0c8b2393a4ab1993</string>
</dict>
</plist>